<div class="row g-2">
  <div class="col-lg-12 col-md-12 p-3">
    <div class="movie-section">
      <h4 class="section-title mb-3">Recommended for You</h4>
      <div class="movie-grid">
        
       <div class="shinecard">
        <img src="https://i.postimg.cc/jjBSrfnQ/poster1-img.jpg" alt="Movie Poster">
        <span class="age-badge">18+</span>

        <div class="moviedetails">
          <h1>Clevatess</h1>
          <h2>TV • 24m</h2>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4.5</span>
          </div>

          <div class="tags">
            <span>Action</span>
            <span>Fantasy</span>
            <span>Adventure</span>
          </div>
          <div class="d-flex justify-content-between" style="flex-direction: row-reverse">
            <div class="cast">
                <ul>
                    <li><img src="https://i.postimg.cc/jqgkqhSb/cast-11.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
                </ul>
            </div>
            <div class="play-circles">
                <i class="fa fa-play"></i>
            </div>
          </div>
        </div>
      </div>

        <div class="shinecard">
          <img src="https://i.postimg.cc/jjBSrfnQ/poster1-img.jpg" alt="Ruri Rocks">
          <span class="age-badge">13</span>
          <div class="moviedetails">
          <h1>Clevatess</h1>
          <h2>TV • 24m</h2>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4.5</span>
          </div>

          <div class="tags">
            <span>Action</span>
            <span>Fantasy</span>
            <span>Adventure</span>
          </div>
         <div class="d-flex justify-content-between" style="flex-direction: row-reverse">
            <div class="cast">
                <ul>
                    <li><img src="https://i.postimg.cc/jqgkqhSb/cast-11.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
                </ul>
            </div>
            <div class="play-circles">
                <i class="fa fa-play"></i>
            </div>
          </div>
        </div>
        </div>

        <div class="shinecard">
          <img src="https://i.postimg.cc/jjBSrfnQ/poster1-img.jpg" alt="Arknights">
          <span class="age-badge">12</span>
          <div class="moviedetails">
          <h1>Clevatess</h1>
          <h2>TV • 24m</h2>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4.5</span>
          </div>

          <div class="tags">
            <span>Action</span>
            <span>Fantasy</span>
            <span>Adventure</span>
          </div>
         <div class="d-flex justify-content-between" style="flex-direction: row-reverse">
            <div class="cast">
                <ul>
                    <li><img src="https://i.postimg.cc/jqgkqhSb/cast-11.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
                </ul>
            </div>
            <div class="play-circles">
                <i class="fa fa-play"></i>
            </div>
          </div>
        </div>
        </div>

        <div class="shinecard">
          <img src="https://i.postimg.cc/jjBSrfnQ/poster1-img.jpg" alt="The Water Magician">
          <span class="age-badge">10</span>
          <div class="moviedetails">
          <h1>Clevatess</h1>
          <h2>TV • 24m</h2>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4.5</span>
          </div>

          <div class="tags">
            <span>Action</span>
            <span>Fantasy</span>
            <span>Adventure</span>
          </div>
          <div class="d-flex justify-content-between" style="flex-direction: row-reverse">
            <div class="cast">
                <ul>
                    <li><img src="https://i.postimg.cc/jqgkqhSb/cast-11.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
                </ul>
            </div>
            <div class="play-circles">
                <i class="fa fa-play"></i>
            </div>
          </div>
        </div>
        </div>

        <div class="shinecard">
          <img src="https://i.postimg.cc/jjBSrfnQ/poster1-img.jpg" alt="Toilet-Bound Hanako-kun">
          <span class="age-badge">18+</span>
          <div class="moviedetails">
          <h1>Clevatess</h1>
          <h2>TV • 24m</h2>

          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4.5</span>
          </div>

          <div class="tags">
            <span>Action</span>
            <span>Fantasy</span>
            <span>Adventure</span>
          </div>
          <div class="d-flex justify-content-between" style="flex-direction: row-reverse">
            <div class="cast">
                <ul>
                    <li><img src="https://i.postimg.cc/jqgkqhSb/cast-11.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
                </ul>
            </div>
            <div class="play-circles">
                <i class="fa fa-play"></i>
            </div>
          </div>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>
